
html {
  scroll-snap-type: y mandatory;
}

.app {


  height: 100vh;
  background-color: black;
  display: grid;
  place-items: center;
}

.app_videos {

  align-items: center;
  position: relative;
  margin-bottom: 10px;
  height: 725px;
  border-radius: 20px;
  width: 90%;
  max-width: 500px;
  overflow: scroll;
  scroll-snap-type: y mandatory;

}

/* Chrome, Safari, Opera */
.app_videos::-webkit-scrollbar {

  display: none;
}


/* IE, EDGE, Firefox */
.app_videos {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}
