.videoFooter {

    position: relative;
    color: white;
    bottom: 130px;
    margin-left: 40px;
    display: flex;
}

.videoFooter_text {
    flex: 1;
}

.videoFooter_text > p {
    padding-bottom: 20px;
}

.videoFooter_text > h3 {
    padding-bottom: 10px;
}

.videoFooter_icon {

    position: absolute;
}

.videoFooter_ticker > .ticker {
    height: fit-content;
    margin-left: 50px;
    width: 70px;
}

.videoFooter_ticker h1 {

    padding-top: 7px;
}

.videoFooter_record {

    animation: spinTheRecord infinite 5s linear;
    height: 50px;
    filter: invert(1);
    position: absolute;
    bottom: 0;
    right: 20px;
}
.ticker {

    width: 70px;
    margin-left: 50px;
}

@keyframes spinTheRecord {

    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
    
}